<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}


<div class="viewport-wrapper">
	
	{{> "navbar" }}

	<div class="view-col-group--cancer h-100 mh-0">
		<div class="container view-col-wrapper view-col-wrapper--cancer">
			{{> (lookup . "identPartialListListcontainer") }}

			
			{{> (lookup . "identPartialListContentwrapper") }}
		</div>
	</div>
</div>


{{> "scripts" }}

</body>
</html>
